<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NestJs MVC home view</title>
</head>
<body>
    <h1 style="color: green;">Home page như cái đầu lồn khó hiểu vãi lồn địt cụ mày</h1>
    <h2> Message : <%= message %> </h2>
</body>
</html>